@{
    ViewBag.Title = "DetallesForm";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetallesForm</title>
</head>
<body>

    @using (Html.BeginForm("DetallesForm", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="id_agenda" name="id_agenda" value="@Model.id_agenda" required>
        <input type="hidden" id="fecha" name="fecha" value="@Model.fecha" required>
        <input type="hidden" id="id_persona" name="id_persona" value="@Model.id_persona" required>
        <input type="hidden" id="hora_inicio" name="hora_inicio" value="@Model.hora_inicio" required>
        <label for="hora_fin">Hora Fin:</label>
        <input type="time" id="hora_fin" name="hora_fin" value=" " required>
        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" value=" " required>

        <div class="form-row">
            <button type="submit" class="boton-crear" onclick="return crearCuenta()">Actualizar</button>
        </div>

    }  @if (ViewData["Mensaje"] != null)
    {
        <p>@ViewData["Mensaje"]</p>
    }
    }

</body>
</html>
